/* NavBar */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Funnel+Display:wght@300..800&family=Orbitron:wght@400..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #FFFFFF;
    background-color: #333333;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Funnel Display", "Roboto", sans-serif;
}

nav {
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(76, 76, 79, 0.25) 0px 2px 5px -1px,
        rgba(255, 255, 255, 0.3) 0px 1px 3px -1px;
    z-index: 1;
}

nav .logo {
    display: flex;
    align-items: center;
}

.navbar-h1 {
    font-size: 1.5rem;
    color: #f5f5f5;
}

.navbar-links-ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-links-a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 95%;
    font-weight: 400;
    padding: 4px 14px;
    border-radius: 5px;
    align-items: center;
}

.navbar-links-a:hover {
    color: #333;
    background-color: #f5f5f5;
}

.cart-button {
    font-family: "Funnel Display", "Roboto", sans-serif;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 95%;
    font-weight: 400;
    padding: 4px 14px;
    border-radius: 5px;
    align-items: center;
    border: 0;
}

.cart-button:hover {
    color: #333;
    background-color: #f5f5f5;
}

.menu-hamburger {
    display: none;
    cursor: pointer;
}

.menu-hamburger .line {
    width: 25px;
    height: 1px;
    background-color: #f5f5f5;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}

.menu-hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

.menu-hamburger-active .line:nth-child(2) {
    width: 0px;
}

.menu-hamburger-active .line:nth-child(1),
.menu-hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
}

.menu-hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
}

.menu-hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
}

.menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(51, 51, 51, 0.95);
    transition: all 0.5s ease-in;
    z-index: 2;
}

.active {
    left: 0;
    box-shadow: rgba(150, 153, 156, 0.2) 0px 8px 24px;
}

.menubar ul {
    padding: 0;
    list-style: none;
}

.menubar ul li {
    margin-bottom: 32px;
}

.menubar ul li a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 95%;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
}

.menubar ul li a:hover {
    background-color: #f5f5f5;
}

@media screen and (max-width: 790px) {
    .menu-hamburger {
        display: block;
    }

    .navbar-links-ul {
        display: none;
    }
}

/* HOME.HANDLEBARS */
.container-home {
    max-width: 75%;
    margin: 16px auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.h3-home {
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 2rem 0;
}

.table-home {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.th-home,
.td-home {
    color: #FFFFFF;
    text-align: left;
    padding: 12px;
    border: 1px solid #ddd;
}

.th-home {
    color: #fff;
    background-color: #333;
}

.tbody-home .tr-home:nth-child(even) {
    background-color: #f9f9f9;
}

.td-home-img {
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #ddd;
    color: #fff;
    background-color: #333;
}

.p-home {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    margin-top: 20px;
}

.product-thumbnail {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin: 0.5rem;
    border-radius: 5px;
    padding: 0;
}

.container-idCart {
    margin: 2rem auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.btn-idCart {
    font-family: "Funnel Display", "Roboto", sans-serif;
    background-color: #0a3d62;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0;
}

.btn-idCart:hover {
    background-color: #0056b3;
}

/* REALTIMEPRODUCTS.HANDLEBARS */
.container-rtproducts {
    max-width: 100%;
    margin: 16px auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title-rtproducts {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
}

.products-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
    margin: 20px;
    max-width: 100%;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    max-width: 35rem;
}

.card-title {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.card-text {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}

.form-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}

textarea,
input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

.form-action {
    text-align: center;
    margin-top: 20px;
}

.btn-rtproducts {
    font-family: "Funnel Display", "Roboto", sans-serif;
    background-color: #0a3d62;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-rtproducts:hover {
    background-color: #0056b3;
}

/* Paginación */
/* Contenedor principal de la paginación */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    border-radius: 0.5rem;
}

/* Botones de paginación */
.pagination-button {
    font-family: "Funnel Display", "Roboto", sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: #0a3d62;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    margin: 0.5rem;
    border: 0;
}

/* Botón deshabilitado */
.pagination-button.disabled {
    color: #333;
    background-color: #cccccc;
    cursor: not-allowed;
    pointer-events: none;
}

/* Información de la página */
.pagination-info {
    font-size: 16px;
    color: #FFF;
}

/* Hover en botones */
.pagination-button:hover:not(.disabled) {
    background-color: #0056b3;
}

/* CARTDETAIL.HANDLEBARS */
.container-cartDetail {
    margin: 2rem;
}

.titlesCartDetail {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
}

/* PRODUCTS.HANDLEBARS */
/* General Container */
.container-products {
    max-width: 100%;
    margin: 2rem auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Grid Layout */
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.products-column,
.cart-column {
    padding: 1rem;
    background: #444;
    border-radius: 8px;
    color: #fff;
}

/* Products Grid */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    background: #444;
}

.product-card {
    background-color: #333333;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title-products {
    font-size: 1.8rem;
    margin: 0.5rem 0 1rem 0;
    background-color: #444444;
}

.product-card-subtitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    background-color: #333333;
}

.product-card-p {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: bold;
    background-color: #333333;
}

.product-card-img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    margin-top: 0.5rem;
}

/* Cart Details */
.cart-details {
    background-color: #333333;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-details-h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0 1rem 0;
    background-color: #333333;
}

.cart-details-ul {
    list-style: none;
    padding: 0;
}

.cart-details-li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.cart-card-p {
    font-size: 1.2rem;
    margin: 0.2rem 0;
    font-weight: bold;
    background-color: #333333;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .products-grid {
        grid-template-columns: 1fr;
    }

    .product-card-img {
        max-width: 100px;
    }
}

.btn-add-to-cart {
    font-family: "Funnel Display", "Roboto", sans-serif;
    background-color: #0a3d62;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 1rem 0.5rem;
}

.btn-add-to-cart:hover {
    background-color: #0056b3;
}