<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>BKND</h1>
            </div>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/realtimeproducts">Productos en Tiempo Real</a>
                </li>
            </ul>
            <div class="menu-hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </nav>
        <div class="menubar">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/realtimeproducts">Productos en Tiempo Real</a>
                </li>
            </ul>
        </div>
    </header>


    {{{body}}}

    
    <script src="/js/script.js"></script>
</body>
</html>